* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
}

/* ==== Nav ==== */

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-bar {
  background-color: #379392;
  color: #c4dfe6;
  overflow: hidden;
  padding: 15px;
  width: 100vw;
}

.nav-bar .logo-container {
  font-size: 2em;
  height: 65.2px;
}

.main-logo {
  padding-left: 15px;
}

a {
  text-decoration: none;
}
.logo-container h1 {
  color: white;
  margin: 0;
}

.nav-bar .search-container {
  margin: auto 0 auto 0;
  height: 70%;
}

.MuiPaper-root {
  padding-left: 10px;
}

.nav-bar .search-container input {
  height: 100%;
  width: 250px;
}

/* ==== Home Page ==== */

.text-container {
  text-align: center;
  width: 50%;
  margin: 100px auto;
}

.article-card-container {
  display: flex;
  justify-content: space-evenly;
}

/* ==== URL Input ==== */

.URL-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ==== Article Page ====*/

.article-container {
  background: #e8e8e8;
  height: 600px;
  border: solid black 2px;
  border-radius: 10px;
  padding: 30px;
}

.article-container h2 p {
  font-family: "Times New Roman", Times, serif;
}

.rating-container {
  color: #666;
  text-align: center;
}

.instructions-container {
  padding-left: 20px;
}

/* ==== Annotation ====*/
.annotation-container {
  text-align: left;
  width: 400px;
  height: 400px;
}

/* ==== Rating Questionaire ==== */

.rating-questions-container {
  padding: 5px;
}
