* {
  box-sizing: border-box;
  .MuiIconButton-root:hover {
    // background-color: inherit;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white !important;
  font-family: "Noto Serif", serif;
  ul {
    padding: 0 0 0 1em;
  }
}

.blue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

a {
  text-decoration: none;
}

.page-container {
  width: 95%;
  margin: 0 auto;
}
/* ==== Nav ==== */

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 7;
  background-color: white;
}

// .nav-bar:hover {
//   border-bottom: 3px solid black;
// }

.nav-bar.nav-container::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 1.5px;
  left: 50%;
  bottom:0;
  background-color: rgb(92, 92, 92);
  transition: all ease-in-out 1s;
}

.nav-bar.scrolled::after{
  width: 100%;
  left: 0;
}

.nav-bar {
  color: #c4dfe6;
  overflow: hidden;
  padding: 15px;
  width: 100%;
}

.nav-bar .logo-container {
  font-size: 2em;
  height: 65.2px;
}

.nav-bar .main-logo {
  padding-left: 30px;
}

.nav-bar .logo-container h1 {
  color: black;
  margin: 0;
}

.nav-bar .search-container {
  margin: auto 0 auto 0;
  height: 70%;
  padding-right: 30px;
}

.nav-bar .MuiPaper-root {
  padding-left: 10px;
}

.nav-bar .search-container input {
  height: 100%;
  width: 250px;
}

/* ==== Home Page ==== */

.text-container {
  text-align: center;
  width: 50%;
  margin: 100px auto;
}

.article-card-container {
  display: flex;
  justify-content: space-evenly;
}

/* ==== URL Input ==== */

.URL-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ==== Article Page ====*/

.article-container {
  background: white;
  // height: 600px;
  border: solid white 1px;
  border-radius: 10px;
  padding: 30px;
  line-height: 3;
  overflow: auto;
}

.spinner-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.article-container h2 p {
  font-family: "Times New Roman", Times, serif;
  white-space: pre-line;
}

.rating-container {
  position: sticky;
  color: #666;
  text-align: center;
}

.instructions-container {
  padding-left: 20px;
}

#pear {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 30px;
}

#peach {
  padding: 30px;
}

#pear .tag-list-container {
  margin: 20px;
  display: inline;
}
/* ==== Annotation ====*/

.new-annotation-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  padding: 30px;
  line-height: 28px;
}

.annotation-container {
  position: absolute;
  left: 20%;
  text-align: left;
  width: 60%;
  height: 40%;
  z-index: 5;
}

.annotation-paper {
  padding: 30px;
  line-height: 28px;
}

.annotation-content {
  border-bottom: solid 1px grey;
}

.comment-text {
  padding-left: 10px;
}
.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ==== Rating Questionaire ==== */

.rating-questions-container {
  padding: 5px;
}

/* ==== Fakebox Rating ==== */

.flex-fakebox-cont {
  display: flex;
  padding-right: 4px;
  margin: 4px;
}

.fakebox-label {
  margin-right: 0.5em;
  padding: 2px;
}

.users-label {
  margin-right: 0.5em;
  padding: 2px;
}

.fakebox-bar-cont {
  background: gainsboro;
  width: 100%;
  height: 2em;
  // padding: 0.5em;
  // border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
  .fakebox-bar {
    background: gainsboro;
    height: 100%;
    // border-radius: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
      0 0 1px 3px rgba(white, 0.75) inset;
    background: transparent;
    &:before {
      border-radius: 50px;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      // box-shadow: 0 0 0 1px rgba(#000, 0.3) inset, 0 0 5px 2px rgba(#FFF, 0.8) inset;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      width: 96%;
      left: 50%;
      margin-left: -48%;
      border-radius: 20px;
      height: 10px;
    }
    .fakebox-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #3f51b5;
      -webkit-clip-path: inset(0 100% 0 0);
      clip-path: (0 100% 0 0);
      transition: all 1s;
      -webkit-transition: all 1s;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        opacity: 1;
        mix-blend-mode: overlay;
        border-radius: 50px;
      }
    }
  }
  &:hover {
    .fakebox-bar {
      .fakebox-background {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
    }
  }
  &.fill {
    .fakebox-bar {
      .fakebox-background {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
    }
  }
}

.bias-label {
  color: black;
  position: absolute;
  text-align: left;
  z-index: 10;
  height: 100%;
  width: 100%;
  padding-left: 6px;
  margin: 4px;
}

.impartial-label {
  color: black;
  position: absolute;
  text-align: right;
  z-index: 10;
  height: 100%;
  width: 100%;
  padding-right: 14px;
  margin: 4px;
}

.flex-user-cont {
  display: flex;
  padding-right: 4px;
  margin: 4px;
}

.user-bar-cont {
  background: gainsboro;
  width: 100%;
  height: 2em;
  // padding: 0.5em;
  // border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
  .user-bar {
    background: gainsboro;
    height: 100%;
    // border-radius: 50px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
      0 0 1px 3px rgba(white, 0.75) inset;
    background: transparent;
    &:before {
      border-radius: 50px;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      // box-shadow: 0 0 0 1px rgba(#000, 0.3) inset, 0 0 5px 2px rgba(#FFF, 0.8) inset;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      width: 96%;
      left: 50%;
      margin-left: -48%;
      border-radius: 20px;
      height: 10px;
    }
    .user-bar-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #3f51b5;
      -webkit-clip-path: inset(0 100% 0 0);
      clip-path: (0 100% 0 0);
      transition: all 1s;
      -webkit-transition: all 1s;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        opacity: 1;
        mix-blend-mode: overlay;
        border-radius: 50px;
      }
    }
  }

  &:hover {
    .user-bar {
      .user-bar-background {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
    }
  }
  &.fill {
    .user-bar {
      .user-bar-background {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
    }
  }
}

.user-rating-text {
  color: gainsboro;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
}
.rating-display {
  padding-left: 0.5em;
  display: none;
}

#tag-button {
  display: inline;
}

.domain-decision-cont {
  width: 100%;

  h3 {
    text-align: left;
  }

  .domain-name {
    opacity: 0;
    font-size: x-large;

    &:hover {
      opacity: 1;
    }
  }
}
