* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Noto Serif", serif;
}

.blue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

a {
  text-decoration: none;
}

/* ==== Nav ==== */

.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-bar {
  background-color: #379392;
  color: #c4dfe6;
  overflow: hidden;
  padding: 15px;
  width: 100vw;
}

.nav-bar .logo-container {
  font-size: 2em;
  height: 65.2px;
}

.nav-bar .main-logo {
  padding-left: 15px;
}

.nav-bar .logo-container h1 {
  color: white;
  margin: 0;
}

.nav-bar .search-container {
  margin: auto 0 auto 0;
  height: 70%;
}

.nav-bar .MuiPaper-root {
  padding-left: 10px;
}

.nav-bar .search-container input {
  height: 100%;
  width: 250px;
}

/* ==== Home Page ==== */

.text-container {
  text-align: center;
  width: 50%;
  margin: 100px auto;
}

.article-card-container {
  display: flex;
  justify-content: space-evenly;
}

/* ==== URL Input ==== */

.URL-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ==== Article Page ====*/

.article-container {
  background: #e8e8e8;
  height: 600px;
  border: solid black 2px;
  border-radius: 10px;
  padding: 30px;
}

.article-container h2 p {
  font-family: "Times New Roman", Times, serif;
  white-space: pre-line;

}

.rating-container {
  color: #666;
  text-align: center;
}

.instructions-container {
  padding-left: 20px;
}

/* ==== Annotation ====*/
.annotation-container {
  text-align: left;
  width: 400px;
  height: 400px;
}

/* ==== Rating Questionaire ==== */

.rating-questions-container {
  padding: 5px;
}

/* ==== Fakebox Rating ==== */

.flex-container {
  display: flex;
  padding-right: 4px;
  margin: 4px;
}

.bias-label {
  margin-right: 0.5em;
}

.impartial-label {
  margin-left: 0.5em;
}


.fakebox-bar-cont {
  background: black;
  width: 16em;
  height: 2em;
  padding: 0.5em;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
}

.fakebox-bar {
  background: goldenrod;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
}

.user-bar-cont {
  background: black;
  width: 16em;
  height: 2em;
  padding: 0.5em;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0 rgba(#000, 0.75) inset, 0 0 4px 0 rgba(#000, 0.5);
}

.user-bar {
  background: red;
  height: 100%;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 1px 3px rgba(white, 0.75) inset;
}

.rating-display {
  padding-left:0.5em;

}
